[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
# 0.33 doesn't support Vega 3, but altair doesn't support Vega 4 yet...
jupyterlab = "<0.33"
ipython = "*"
pandas = "*"
numpy = "*"
altair = "*"
nltk = "*"
"0738a1f" = {path = "./genizah-tools"}
lxml = "*"


[dev-packages]



[requires]

python_version = "3"
