[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "<0.33"
ipython = "*"
pandas = "*"
numpy = "*"
altair = "*"
nltk = "*"
"0738a1f" = {path = "./genizah-tools"}
lxml = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
yattag = "*"
jupyter-contrib-nbextensions = "*"


[dev-packages]



[requires]

python_version = "3"
